* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-main: linear-gradient(to right bottom, #7ed56f, #28b485);
  --color-white: #fff;
  --color-bg: #f4f4f48c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--color-main);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
